In [29]:
import pandas as pd
import numpy as np

In [30]:
# df = pd.read_csv('Fisheries_Production_Mexico_2005to2018.csv')
df = pd.read_csv('Fisheries_Production_Mexico_2005to2018.csv', encoding='latin-1')
df.columns.values

array(['ANO', 'LITORAL', 'ENTIDAD', 'MES', 'GRUPO',
       'NOMBRE_PRINCIPAL_ESPECIE', 'ORIGEN', 'ORIGEN DEL CAMARON',
       'TIPO_AGUA', 'DESTINO', 'ACUACULTURA', 'PESO_DESEMBARCADO_KG',
       'PESO_VIVO_KG', 'VALOR_MEXICAN_PESOS'], dtype=object)

In [31]:
# Dictionary mapping assignments for Alice n Jamak
# ANO until Origin - Alice
# ORIGEN DEL CAMARON - VALOR_MEXICAN_PESOS - Jamak

In [32]:
# Define a dictionary mapping column names
mapping = {'ANO': 'YEAR', 'LITORAL': 'COAST','ENTIDAD':'ENTITY','MES':'MONTH','GRUPO':'GROUP','NOMBRE_PRINCIPAL_ESPECIE':'MAIN_SPECIES_NAME'
            ,'ORIGEN':'ORIGIN','ORIGEN DEL CAMARON':'ORIGIN_OF_THE_SHRIMP','TIPO_AGUA':'WATER_TYPE','DESTINO':'DESTINATION','ACUACULTURA':'AQUACULTURE'
            ,'PESO_DESEMBARCADO_KG':'LANDED_WEIGHT_KG','PESO_VIVO_KG':'LIVE_WEIGHT_KG','VALOR_MEXICAN_PESOS':'VALUE_MEXICAN_PESOS'}

# Use the rename() method to apply the mapping
df = df.rename(columns=mapping)
df.columns.values

array(['YEAR', 'COAST', 'ENTITY', 'MONTH', 'GROUP', 'MAIN_SPECIES_NAME',
       'ORIGIN', 'ORIGIN_OF_THE_SHRIMP', 'WATER_TYPE', 'DESTINATION',
       'AQUACULTURE', 'LANDED_WEIGHT_KG', 'LIVE_WEIGHT_KG',
       'VALUE_MEXICAN_PESOS'], dtype=object)

In [33]:
###### jamak ######
# print unique values in ORIGIN_OF_THE_SHRIMP
print(df['ORIGIN_OF_THE_SHRIMP'].unique())
# print unique values in WATER_TYPE
print(df['WATER_TYPE'].unique())
# print unique values in DESTINATION
print(df['DESTINATION'].unique())
# print unique values in DESTINATION
print(df['AQUACULTURE'].unique())
# print unique values in DESTINATION
print(df['LANDED_WEIGHT_KG'].unique())
# print unique values in DESTINATION
print(df['LIVE_WEIGHT_KG'].unique())

['NO APLICA' 'CULTIVO' 'MAR ABIERTO' 'ESTEROS, LAGUNAS Y BAHIAS']
['SALOBRE / MARINA' 'DULCE']
['CONSUMO HUMANO DIRECTO' 'CONSUMO HUMANO INDIRECTO' 'USO INDUSTRIAL']
['NO APLICA' 'SISTEMAS CONTROLADOS' 'PESQUERIA ACUACULTURAL']
[   292.5      334.4     6765.52  ...  50167.     58190.    204055.656]
[   308.5       334.4      6765.52   ... 202667.5223  58190.
 204055.656 ]

In [34]:
# Define a dictionary mapping column names
mapping_jamak = {'NO APLICA': 'NOT APPLICABLE', 'CULTIVO': 'CULTIVATION','MAR ABIERTO':'OPEN SEA', 'ESTEROS, LAGUNAS Y BAHIAS':'ESTUARY, LAGOONS AND BAYS'
            ,'SALOBRE / MARINA':'BRACKY/MARINE','DULCE':'FRESHWATER'
            ,'CONSUMO HUMANO DIRECTO':'DIRECT HUMAN CONSUMPTION','CONSUMO HUMANO INDIRECTO':'INDIRECT HUMAN CONSUMPTION','USO INDUSTRIAL':'INDUSTRIAL USE'
            ,'SISTEMAS CONTROLADOS':'CONTROLLED SYSTEMS','PESQUERIA ACUACULTURAL':'AQUACULTURAL FISHERY'}

df = df.replace(mapping_jamak)

# print unique values in ORIGIN_OF_THE_SHRIMP
print(df['ORIGIN_OF_THE_SHRIMP'].unique())
# print unique values in WATER_TYPE
print(df['WATER_TYPE'].unique())
# print unique values in DESTINATION
print(df['DESTINATION'].unique())
# print unique values in DESTINATION
print(df['AQUACULTURE'].unique())

['NOT APPLICABLE' 'CULTIVATION' 'OPEN SEA' 'ESTUARY, LAGOONS AND BAYS']
['BRACKY/MARINE' 'FRESHWATER']
['DIRECT HUMAN CONSUMPTION' 'INDIRECT HUMAN CONSUMPTION' 'INDUSTRIAL USE']
['NOT APPLICABLE' 'CONTROLLED SYSTEMS' 'AQUACULTURAL FISHERY']

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134354 entries, 0 to 134353
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   YEAR                  134354 non-null  int64
 1   COAST                 134354 non-null  object
 2   ENTITY                134354 non-null  object
 3   MONTH                 134354 non-null  object
 4   GROUP                 134354 non-null  object
 5   MAIN_SPECIES_NAME     134354 non-null  object
 6   ORIGIN                134354 non-null  object
 7   ORIGIN_OF_THE_SHRIMP  134354 non-null  object
 8   WATER_TYPE            134354 non-null  object
 9   DESTINATION           134354 non-null  object
 10  AQUACULTURE           134354 non-null  object
 11  LANDED_WEIGHT_KG      134354 non-null  float64
 12  LIVE_WEIGHT_KG        134354 non-null  float64
 13  VALUE_MEXICAN_PESOS   134354 non-null  float64
dtypes: float64(3), int64(1), object(10)
memory usage: 14.4+ MB

In [37]:
df.describe()

                YEAR  LANDED_WEIGHT_KG  LIVE_WEIGHT_KG  VALUE_MEXICAN_PESOS
count  134354.000000      1.343540e+05    1.343540e+05         1.343540e+05
mean     2011.624090      1.655530e+05    1.810713e+05         2.428558e+06
std         4.055934      1.291822e+06    1.463263e+06         2.185640e+07
min      2005.000000      0.000000e+00    0.000000e+00         0.000000e+00
25%      2008.000000      1.826000e+03    1.859000e+03         3.160704e+04
50%      2012.000000      1.087224e+04    1.124487e+04         1.893804e+05
75%      2015.000000      5.469835e+04    5.757762e+04         9.360000e+05
max      2018.000000      8.045294e+07    9.332541e+07         2.020440e+09

In [38]:
from pandas_profiling import ProfileReport
ProfileReport(df, title="EDA Report")

ModuleNotFoundError: No module named 'pandas_profiling'